<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{prefix}}/css/style.css" rel="stylesheet" type="text/css">
    <title>YYT {{title}}</title>
  </head>
  <body>
    <div class="navbar">
      <ul class="navbar content">
        {{#if parentSite}}
          <li class="parent-site"><a href="{{parentSite.path}}">{{parentSite.name}}</a></li>
        {{/if}}
        <li><a href="{{prefix}}/">Home</a></li>
        <li><a href="{{prefix}}/tasks/">Tasks</a></li>
        {{#if username}}
          <li><a href="{{prefix}}/manage/"><b>User: {{username}}</b></a></li>
          <li><a href="{{prefix}}/logout/">Logout</a></li>
        {{else}}
          <li><a href="{{prefix}}/register/">Register</a></li>
          <li><a href="{{prefix}}/login/">Login</a></li>
        {{/if}}
      </ul>
    </div>
    <div class="content">
    {{{body}}}
    </div>
  </body>
</html>
