<h1>{{username}}'s Task List <small>[<a href="download/">download</a>]</small></h1>

<div class="task-controls">
  <form action="add/">
    <input type="submit" value="Add Task">
    <input type="text" id="task_text" name="task_text" autofocus>
  </form>
  <form action="filter/">
    <input type="submit" value="Filter By"> 
    <input type="text" id="filter_text" name="filter_text" placeholder="{{session.filter}}"> 
    <label for="filter_text"><em>{{session.filter}}<em></label></td>
  </form>
  <form action="hidedone/">
    {{#if session.hideDone}}
    <input class="show-done" type="submit" value="Show Done">
    {{else}}
    <input class="hide-done" type="submit" value="Hide Done">
    {{/if}}
  </form>
</div>
<br>

{{#each tasks}}
  <ul class="tasks">
    <li {{#if this.isDone}}class="done"{{/if}}>
      <a href="{{this.id}}/done" class="checkmark">{{#if this.isDone}}&#x2611;{{else}}&#x2610;{{/if}}</a>
      {{this.text}}
      <!--{{this.id}}-->
      <a href="{{this.id}}/delete" class="delete">[delete]</a>
    </li>
  </ul>
{{/each}}

